.remove, th {
	cursor: pointer;
}

.remove {
	color: #999;
}

.remove:hover {
	color: #222;
}

td:first-child {
	padding: 12px 15px;
}

[contenteditable]:hover {
	outline: 1px solid #aaa;
}


[type="date"] {
	height: 38px;
	padding: 6px 10px;
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}

th {
	position: relative;
}

th.sort-asc::after, th.sort-desc::after {
	position: absolute;
	vertical-align: middle;
	margin-left: 1rem;
	font-size: 1.5rem;
}

th.sort-asc::after {
	content: '▼';
}

th.sort-desc::after {
	content: '▲';
}
